* {
    box-sizing: border-box;
}

:root {
    --chat-background-color : #EFEFEF;
    --chat-bot-ballon-color : #FFFFFF;
    --chat-user-ballon-color : #5C6DFF;
    --chat-input-background-color : #F6F8FE;
    --chat-input-field-color : #FFFFFF;
    --chat-input-button-color : #9499A0;
    --chat-date-background-color : #848A92;
}

body {
    margin : 0;
}

header {
    background-color : var(--chat-background-color);
    width : 100%;
    padding : 1rem;

    position : sticky;
    top : 0;
    left : 0;

    display : grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.chat-title {
    text-align: center;
    margin : 0;
    grid-column : 2;
    font-size: 1rem;
    line-height: 1.2;
}

.header-icons {
    display:flex;
    flex-direction: row-reverse;
}

.close-button {
    border : none;
    cursor: pointer;
}

.close-icon {
    font-size : 1rem;
    line-height : 1.2
}


.chatgroup {
    display : block;
    width : 100%;
    min-height: calc(100vh - 45px);
    margin-bottom : 4rem;

    background-color: var(--chat-background-color);
    overflow-y: auto;
}

.chat-div {
    width : 100%;
    padding : 1rem;
    display : flex;
}

.chat-div-center {
    justify-content: center;
    align-items: center;
}

.chat-date {
    display : inline-block;
    border-radius : 50px;
    line-height : 24px;
    font-size : 12px;
    padding : 0.9px;
    padding-inline: 7px;
    border : 0.5px solid;
    border-color: var(--chat-date-background-color);
    color : white;
    background-color: var(--chat-date-background-color);
    letter-spacing: 0.5px;
}

.chat-div-left {
    justify-content: flex-start;
}

.chat-div-right {
    justify-content: flex-end;
}

.ballon {
    width : 40%;
    padding : 1rem;
}

.chatbot-ballon {
    border-radius : 0 15px 15px 15px;
    background-color: var(--chat-bot-ballon-color);
    color : black;
}

.user-ballon {
    border-radius : 15px 0 15px 15px;
    background-color: var(--chat-user-ballon-color);
    color : white;
}

.chatinput {
    display : block;
    background-color: var(--chat-input-background-color);
    width : 100%;
    height : 4rem;
    padding : 1rem;

    position : fixed;
    bottom : 0;
}

.chat-inputfield {
    width : 100%;
    height : 100%;
    border-radius: 5px;
    background-color: var(--chat-input-field-color);
    padding : 5px;

    display : flex;
    justify-content: center;
}

textarea {
    width : 95%;
    border : none;
    resize: none;
    overflow: hidden;
}

textarea:focus {
    outline : none;
}

.send-button {
    width : 5%;
    border : none;
    background-color: var(--chat-input-field-color);
    cursor: pointer;
}

/* 
    배경색 #EFEFEF
    챗봇 말풍선 #FFFFFF -> 내부글자 검정
    내 말풍선 #5C6DFF -> 내부글자 화이드
    입력창 겉에는 #F6F8FE, 찐입력창은 #FFFFFF
    전송버튼 #9499A0
 */